@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

:root {
    --main-color: #000000;
    font-family: 'Noto Sans';
}

body {
    max-width: 980px;
    margin: auto;
}

header nav .logo {
    text-align: center;
    margin: 0;
    padding: 20px;
}

header nav .menu {
    display: flex;
    flex: 1;
    padding: 0;
    list-style-type: none;
    justify-content: flex-end;
}

header nav .menu a {
    text-decoration: none;
    color: var(--main-color);
    padding: 5px;
}

@media (min-width: 800px) {
    header nav {
        display: flex;
        align-items: center;
    }
}  

header {
    background-color: #00ffc6;
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.3s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
}

.button2 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.856);
}