@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

:root {
    --main-color: #000000;
    font-family: 'Noto Sans';
}

body {
    max-width: 980px;
    margin: auto;
}

header nav .logo {
    text-align: center;
    margin: 0;
    padding: 20px;
}

header nav .menu {
    display: flex;
    flex: 1;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 5px
}

header nav .menu a {
    text-decoration: none;
    color: var(--main-color);
    padding: 5px;
}



header {
    background-color: #00ffc6;
}

body div.main img {
    width: 100%;
    display: block;
}

div table {
    width: 100%;
    border: 1px dashed grey;
}

@media (min-width: 800px) {
    header nav {
        display: flex;
        align-items: center;
    }
    header nav .menu {
        display: flex;
        justify-content: flex-end;
    }
    div.main {
        display: grid;
        grid-template-columns: auto 230px;
    }
    body div.main img.first {
        max-width: 750px;
        height: auto;
    }
    body div.main table{
        max-width: 230px;
        height: auto;
    }
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.3s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
}

.button2 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.856);
}